body {
    background-color: black;
    color: red;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
}

td {
    border: 2px white solid;
    text-align: center;
}

th {
    border: 2px white solid;
    text-align: center;
}

tr {
    font-size: 20px;
    height: 100%;
}
